# DevEco Studio / HarmonyOS
/node_modules
/oh_modules
/local.properties
/.idea
**/build
**/oh_modules
**/.cxx
**/.preview
**/BuildProfile.ets
/.hvigor
**/.hvigor
/.appanalyzer
/cxx

# 工具链
node_modules/
*.log
.DS_Store
